<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b66870">  <td>18/02/19 14:02:41</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyProdcut_Added_in_Basket_And_Palce_Order.afterTest()[pri:0, instance:buyaGift_Automation_Test.VerifyProdcut_Added_in_Basket_And_Palce_Order@59f99ea]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>18/02/19 13:57:37</td>   <td>-304651</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyProdcut_Added_in_Basket_And_Palce_Order.beforeTest()[pri:0, instance:buyaGift_Automation_Test.VerifyProdcut_Added_in_Basket_And_Palce_Order@59f99ea]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>18/02/19 13:58:34</td>   <td>-247765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyProdcut_Added_in_Basket_And_Palce_Order.testEasy()[pri:0, instance:buyaGift_Automation_Test.VerifyProdcut_Added_in_Basket_And_Palce_Order@59f99ea]">testEasy</td> 
  <td>main@1845904670</td>   <td></td> </tr>
</table>
