<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>18/02/13 13:42:04</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Login_BuyaGift.afterTest()[pri:0, instance:BuyaGift_Login.Login_BuyaGift@735b5592]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/02/13 13:41:54</td>   <td>-10217</td> <td>&nbsp;</td><td title="&gt;&gt;Login_BuyaGift.beforeTest()[pri:0, instance:BuyaGift_Login.Login_BuyaGift@735b5592]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/02/13 13:41:57</td>   <td>-6812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_BuyaGift.testEasy()[pri:0, instance:BuyaGift_Login.Login_BuyaGift@735b5592]">testEasy</td> 
  <td>main@1620303253</td>   <td></td> </tr>
</table>
